<h2>Share</h2>
<aside class="share">
  <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}&tw_p=tweetbutton" title="Share on Twitter" class="btn btn-important" target="_blank" rel="nofollow"><i class="ti-twitter-alt" aria-hidden="true"></i></a>
  <a href="https://www.facebook.com/sharer.php?u={{ .Permalink }}&t={{ .Title }}" title="Share on Facebook" class="btn btn-important" target="_blank" rel="nofollow"><i class="ti-facebook" aria-hidden="true"></i></a>
  <a href="https://reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" title="Share on Reddit" class="btn btn-important" target="_blank" rel="nofollow"><i class="ti-reddit" aria-hidden="true"></i></a>
  <a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" title="Share on Pocket" class="btn btn-important" target="_blank" rel="nofollow"><i class="ti-sharethis-alt" aria-hidden="true"></i></a>
  <a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" title="Share by Email" class="btn btn-important" target="_blank" rel="nofollow"><i class="ti-email" aria-hidden="true"></i></a>
</aside>

