---
title: Search Articles
---
<!-- Main -->
<article id="main">

	<!-- Three -->
	<section class="wrapper style3 container special">

		<header class="major">
			<h2>All <strong>Glossary</strong></h2>
		</header>

		<div class="left">
			<ul>
				{% for post in site.pages %}
				{% for tag in post.tags %}
				{% if tag == "about" %}
					<li>
												<p>{{ post.subtitle }}</p>
					</li>
				{% endif %}
				{% endfor %}
				{% endfor %}
			</ul>
		</div>

	</section>

</article>
